{% extends 'base.html' %}
{% block title %}{{ article.title|striptags }} // {{ super() }}{% endblock title %}

{% block content %}
<div class="container" style="margin-top:-25px;">
	<div class="posts section offset-header col-md-12 text-center">
        <div class="content">
            <section class="post">
                <header class="post-header">
                    <h1>{{ article.title }}</h1>
                        <p class="post-meta">
                            // under {% for tag in article.tags %}
                                <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                            {% endfor %}
                        </p>
                </header>
            </section>
            {{ article.content }}
            <div class="hr"></div>
            <a href="#" class="go-top">Go Top</a>
        </div>
    </div>
</div>
{% endblock  %}
