{% extends 'base.html' %}

{% block content %}
	<div class="container section">

	<div class="posts section offset-header col-md-12 text-center">
		<h1 class="content-subhead">
			{% block pagetitle %}
				{% if not articles_page.has_previous() %}
					Latest posts
				{% else %}
					Posts
				{% endif %}
			{% endblock pagetitle %}
			{% if articles_page.has_previous() %}
				&ndash; Page&nbsp;{{ articles_page.number }}
			{% endif %}
		</h1>
		{% for article in articles_page.object_list %}
			{% include 'post.html' %}
			{% if MATH is defined and not MATH['auto_insert'] %}
	{% if page and page.mathjax or article and article.mathjax %}
					{% set mathjax = True %}
				{% endif %}
			{% endif %}
			{% if loop.last and mathjax is defined %}
				{{ MATHJAXSCRIPT }}
			{% endif %}
		{% endfor %}
		{% include 'pagination.html' %}
	</div>
	</div>
{% endblock content %}
