<!-- ******FOOTER****** -->
<div class="footertop">
</div>
<footer class="footer">
    <div class="container text-center">
        <img src="{{ SITEURL }}/theme/images/footerlogo.png" height="150" width="150"/>
        <p> Copyright &copy; 2015 Python Software Society of India. </p>
    </div>
    <!--//container-->
</footer>
<!--//footer-->
<div class="row col-md-12 wc-footer">
    <p>
        <a href="http://webchirpy.com" target="_blank" class=""/>
            Design with
            <img class="pulse2" src="{{ SITEURL }}/theme/images/heart.png" style="vertical-align:middle;margin-top:-5px;"/>
            by Webchirpy
        </a>
    </p>
</div>