
    <!-- ******speakers****** -->
    <section id="speakers" class="speakers section">
        <div class="container">

            <h2 class="title text-center">
        <img class="introanime" src="{{ SITEURL }}/theme/images/speaker.png" height="75" width="75"/>

        <br/>
        Speakers
      </h2>

            <div class="row">
                <div id="whybox1" class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder text-center">
                        <!--     <img src="images/michael_foord.jpg" /> -->
                        <img src="{{ SITEURL }}/theme/images/users.jpg" />
                    </div>
                    <div class="content">
                        <h3>
              <a href="#">
                Keynote Speaker 1
              </a>
            </h3>
                        <span class="help-block">
              Keynote Speaker
            </span>
                        <a href="#">
                            <i class="social fa fa-github-square fa-2x social-fb">
              </i>
                        </a>
                        <a href="#">
                            <i class="social fa fa-twitter-square fa-2x social-tw">
              </i>
                        </a>
                    </div>
                    <!--//content-->
                </div>
                <!--//item-->
                <div id="whybox2" class="item col-md-6 col-sm-6 col-xs-12">
                    <div class="icon-holder text-center">
                        <!--     <img src="images/kushal_das.jpg" /> -->
                        <img src="{{ SITEURL }}/theme/images/users.jpg" />
                    </div>
                    <div class="content">
                        <h3>
              <a href="#">
                Keynote Speaker 2
              </a>
            </h3>
                        <span class="help-block">
              Keynote Speaker
            </span>
                        <a href="#">
                            <i class="social fa fa-github-square fa-2x social-fb">
              </i>
                        </a>
                        <a href="#">
                            <i class="social fa fa-twitter-square fa-2x social-tw">
              </i>
                        </a>
                    </div>
                    <!--//content-->
                </div>
                <!--     <div class="text-center">
          <a href="#" target="_blank" class="btn btn-pycon">
            <i class="fa fa-user">
            </i>
            View All Speakers
          </a>

        </div> -->
            </div>
            <!--//row-->
        </div>
        <!--//container-->
    </section>
    <!--//speakers-->