  {% extends 'base.html' %}
  
  {% block content %}
 <!-- ******home****** -->
    <section id="home" class="home section offset-header">
        <div class="container" style="margin-top:-25px;">

            <div class="col-md-12 sponsorship">

                <h2 class="text-center"> 
 <img class="introanime" src="{{ SITEURL }}/theme/images/sponsor.png" height="75" width="75"/>
      <br/>
              PyCon India 2015 Sponsorship </h2>
                <br/>
                <p>
                    PyCon India is the largest annual conference for the community using and developing the Python programming language in India. It attracts the best Python programmers across the country and abroad. PyCon India is a community conference, organized by volunteers. Formally it is run by the Python Software Society of India, which is a non-profit society under Indian law.
                </p>
                <br/>
                <h3>Sponsoring</h3>
                <p>
                    Your sponsorship keeps PyCon India affordable to the widest possible audience.
                </p>
                <p>
                    In order to ensure a successful conference, the community needs to address a wide range of logistical and organizational challenges. PyCon India attendees sometimes require assistance with expenses especially student attendees, and sponsorship enables us to support those who would otherwise be unable to attend.
                </p>
                <p>
                    The attendees of PyCon India will include professional developers from large enterprises and smaller firms as well as people from academia. Delegates come to present their latest developments. With Python already becoming a major enterprise programming language and platform, sponsoring PyCon India 2015 is an excellent opportunity to demonstrate industry leadership in this part of the world. The attendance of PyCon India 2015 is expected to be between 1200 to 1350 delegates.
                </p>
                <br/>
                <h3> Contact</h3>
                <div class="col-md-3 text-center">
                    <p> <img class="introanime" src="{{ SITEURL }}/theme/images/speaker.png" height="75" width="75" />
                        <br/>Vijay Bang
                        <br/><b>+91 988 6761 820 </b>
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <p> <img class="introanime" src="{{ SITEURL }}/theme/images/speaker.png" height="75" width="75" />
                        <br/>Krace Kumar
                        <br/><b>+91 855 3029 521</b>
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <p> <img class="introanime" src="{{ SITEURL }}/theme/images/speaker.png" height="75" width="75" />
                        <br/>Sreekanth S Rameshaiah
                        <br/><b>+91 984 5512 611</b>
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <p> <img class="introanime" src="{{ SITEURL }}/theme/images/conf.png" height="75" width="75" />
                        <br/>Email:
                        <br/><b>contact@in.pycon.org </b>
                    </p>
                </div>

                <div class="clearfix"></div>
                <br>
                <br>
                <h3>Sponsorship levels</h3>
                <p>We are offering the following levels of sponsorship. If you have something different in mind, please don't hesitate to contact us at contact@in.pycon.org
                </p>
                <!--      <ul>
            <div class="col-md-3">
              <h5><a class="scrollto" href="#platnium">Platnium Level Sponsorship</a></h5>
            </div>
              <div class="col-md-3">
              <h5><a class="scrollto" href="#gold">Gold Level Sponsorship</a></h5>
            </div>
              <div class="col-md-3">
              <h5><a class="scrollto" href="#silver">Silver Level Sponsorship</a></h5>
            </div>
              <div class="col-md-3">
              <h5><a class="scrollto" href="#associate">Associate Level Sponsorship</a></h5>
            </div>
          </ul> -->
                <br>

                <section class="col-md-3 sponbox" id="platnium">
                    <h4 class="text-center"> <img class="" src="{{ SITEURL }}/theme/images/platinum_sponsor.png" height="50" width="50" /><br/>Platinum - 4,50,000   </h4>
                    <ul>
                        <li><i class="fa fa-check"></i> 10 conference passes</li>
                        <li><i class="fa fa-check"></i> Logo + Write-up + link on conference website</li>
                        <li><i class="fa fa-check"></i> Logo on official banners</li>
                        <li><i class="fa fa-check"></i> Your stall(14’X8’) at the venue (your banner)</li>
                        <li><i class="fa fa-check"></i> Contact Point kit(your tablet/smartphone))</li>
                        <li><i class="fa fa-check"></i> Distribute goodies at the stall</li>
                        <li><i class="fa fa-check"></i> Company Brochures along with welcome Kit</li>
                        <li><i class="fa fa-check"></i> Logo on the notebooks given to participants</li>
                        <li><i class="fa fa-check"></i> Sponsored Workshop (for 90 minutes) </li>
                    </ul>
                </section>
                <section class="col-md-3 sponbox" id="gold">
                    <h4 class="text-center"><img class="" src="{{ SITEURL }}/theme/images/gold_sponsor.png" height="50" width="50" /><br/>Gold - 3,00,000 </h4>
                    <ul>
                        <li><i class="fa fa-check"></i> 6 conference passes</li>
                        <li><i class="fa fa-check"></i> Logo + Write-up + link on conference website</li>
                        <li><i class="fa fa-check"></i> Logo on official banners</li>
                        <li><i class="fa fa-check"></i> Your stall(12’X6’) at the venue (your banner)</li>
                        <li><i class="fa fa-check"></i> Contact Point kit(your tablet/smartphone))</li>
                        <li><i class="fa fa-check"></i> Distribute goodies at the stall</li>
                        <li><i class="fa fa-check"></i> Company Brochures along with welcome Kit</li>
                    </ul>
                </section>
                <section class="col-md-3 sponbox" id="silver">
                    <h4 class="text-center"><img class="" src="{{ SITEURL }}/theme/images/silver_sponsor.png" height="50" width="50" /><br/>Silver - 1,50,000 </h4>
                    <ul>
                        <li><i class="fa fa-check"></i> 3 conference passes</li>
                        <li><i class="fa fa-check"></i> Logo + Write-up + link on conference website</li>
                        <li><i class="fa fa-check"></i> Logo on official banners</li>
                        <li><i class="fa fa-check"></i> Banner and table at the venue (6'x2' table provided, your banner)</li>
                        <li><i class="fa fa-check"></i> Contact Point kit(your tablet/smartphone))</li>
                    </ul>
                </section>
                <section class="col-md-3 sponbox" id="associate">
                    <h4 class="text-center"><img class="" src="{{ SITEURL }}/theme/images/associate_sponsor.png" height="50" width="50" /><br/>Associate - 50,000 </h4>
                    <ul>
                        <li><i class="fa fa-check"></i> 1 conference pass</li>
                        <li><i class="fa fa-check"></i> Logo + Write-up + link on conference website</li>
                        <li><i class="fa fa-check"></i> Logo on official banners</li>
                    </ul>
                </section>
                <div>
                    <div class="clearfix"></div>
                    <h4>Note:</h4>
                    <ul>
                        <li>50% discount on silver category of sponsorship for startups with less than 10 employees.</li>
                        <li>Stall will be available only during main conference days (Saturday & Sunday).</li>
                        <li>Amount expressed is in Indian Rupees.</li>
                        <li>Please get it touch with us, if you would like any customizations or add-ons to the benefits.</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>



        <div class="clearfix">
        </div>
        <br/>
        </div>
        <!--//container-->
    </section>
    <!--//home-->
  {% endblock content %}