    <!-- ******sponsors****** -->
    <section id="sponsors" class="sponsors section">

        <h2 class="title text-center">
      <img class="introanime" src="{{ SITEURL }}/theme/images/sponsor.png" height="75" width="75"/>
      <br/>
      Sponsors
    </h2>

        <div class="container">
            <div class="col-md-12">
                <hr/>
                <h2 class="date text-center">
 <img class="" src="{{ SITEURL }}/theme/images/platinum_sponsor.png" height="50" width="50" />
                  Platinum
                </h2>

                <div class="col-md-4">
                    <div class="sponsorbox">
                        <a href="#">
                            <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                            <p></p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sponsorbox">
                        <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                        <p></p>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <hr/>
                <h2 class="date text-center">
                 <img class="" src="{{ SITEURL }}/theme/images/gold_sponsor.png" height="50" width="50" /> Gold
                    
                </h2>

                <div class="col-md-4">
                    <div class="sponsorbox">
                        <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                        <p> </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sponsorbox">
                        <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
                <h2 class="date text-center">
  <img class="" src="{{ SITEURL }}/theme/images/silver_sponsor.png" height="50" width="50" />
       
                  Silver
                </h2>

                <div class="col-md-4">
                    <div class="sponsorbox">
                        <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sponsorbox">
                        <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
                <h2 class="date text-center">
    <img class="" src="{{ SITEURL }}/theme/images/associate_sponsor.png" height="50" width="50" />
                  Associate
                </h2>
                <div class="col-md-4">
                    <div class="sponsorbox">
                        <a href="#">
                            <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                            <p></p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sponsorbox">
                        <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                        <p></p>
                    </div>
                </div>
            </div>


            <div class="col-md-12">
                <hr/>
                <h2 class="date text-center">
   <img class="" src="{{ SITEURL }}/theme/images/accomodation.png" height="50" width="50" />
                  Accomodation
                </h2>
                <div class="col-md-4">
                    <div class="sponsorbox">
                        <a href="#">
                            <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                            <p></p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sponsorbox">
                        <img class="img-responsive" src="{{ SITEURL }}/theme/images/cs.jpg" />
                        <p></p>
                    </div>
                </div>
            </div>



        </div>
        <!--//container-->
    </section>
    <!--//sponsors-->
